<!DOCTYPE html>

<!--
Based on
https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
-->
<html>
  <head>
    <title>Estimate</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'homevalue/css/autoaddress.css' %}">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script src="{% static 'homevalue/js/autoaddress.js' %}"></script> 
  </head>

  <body>

    <div>
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Search</button>
      </form>
    </div>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbBz8MmtgkZxT2hD_AMBKEIHr7MnPV1Ac&libraries=places&callback=initAutocomplete"
        async defer></script>
  </body>
</html>
