<!DOCTYPE html>

<!--
Based on
https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
-->
<html>
  <head>
    <title>Estimate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'homevalue/css/autoaddress.css' %}">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script src="{% static 'homevalue/js/autoaddress.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>

    <!--Navigation-->
    <div class="navtop">
        <img class="logo" src="/static/homevalue/images/revre_logo_white.png" width="70" height="60">
    </div>
    <!--End Navigation-->

    <!-- Header Banner -->
    <div class= "b-image"/>

    <div class="bg">
        <div class="flex-row">
            <div class="center">
                <h1>Get Your Home Value.</h1>
                <h1>Instantly.</h1>
            </div>
        </div>

        <div class="center">
  </head>


    <div class="bg">
        <div class="flex-row">
            <div class="center">
                <h2>Get Your Home Price.</h2>
                <h2>Right Here, Right Now.</h2>
            </div>
        </div>

        <div class="flex-row">
            <div class="frm">
                <form method="post">
                      {% csrf_token %}
                      {{ form }}
                      <button type="submit" class="search-btn">
                           <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                      </button>
                </form>
            </div>
        </div>
    </div>
    <!-- End Header Banner -->

    <!-- Introductory Section -->
    <div>
        <div class="flex-row">
            <div class="center-text">
              <div class="introtext">
                <h2>You're Unique. Your Real Estate Experience Should Be Too.</h2>
                <p>In an Industry of status quos, you deserve better. That means gone are the
              are the insane real estate agent commisions of yesterday.</p>
                <p>Simply enter an address in the search bar above, get an instantaneous quote, and decide on what services you need.  Simple, fast, easy.  Powered by data and technology.</p>
                <p>See how we're saving people thousands of dollars when they buy and sell a home in Edmonton</p>
              </div>
            </div>
       </div>
    <!-- End Into Section -->


    <!--Buttons-->
    <div class="center-text">
      <a class="btn btn-success btn-lg call-to-action" href="{% url "listWith" %}" role="button">List With Revre</a>

      <a class="btn btn-outline-success btn-lg call-to-action"  href="{% url "speakAgent" %}"  role="button">Speak to an Agent</a>
    </div>


    <!-- End Buttons  -->


    <!-- Informational Section -->

    <div class="flex-row">
      <div class="center-text">
            <h2>Revre is ReImagining Real Estate</h2>
            <p>You only pay for the services that you use. It's a no brainer.
            </p>
            <p>That Means that if you have sold 0 houses in your entire life, or have sold 50 in the last year, we have services to match you and your real estate experience.</p>
      </div>
    </div>

    <!-- End info section -->

    <!-- Picture Right -->

    <!-- Picture Left -->
  <div class="infocontainer">
    <div class="left-container">
      <div class="left-content">
          <img src="/static/homevalue/images/Revre-Technologies_2.png">
      </div>
    </div>
  <div class="right-container">
        <div class="right-content">
          <h2>100% Gimmick Free.</h2>
          <p>No more giving out your information until you are ready to list your home.</p>
          <p>No more phone calls over dinner asking if you are in the process of selling</p>
          <p>or buying a home.  There are no hard sell tactics here.</p>
          <p>You are in the driver's seat.</p>
        </div>
    </div>
  </div>

  <!-- Picture Left -->
    <div class="infocontainer">
    <div class="right-container">
      <div class="right-content">
          <img src="/static/homevalue/images/Revre-Technologies_2.png">
      </div>
    </div>
  <div class="left-container">
        <div class="left-content">
          <h2>100% Gimmick Free.</h2>
          <p>No more giving out your information until you are ready to list your home.</p>
          <p>No more phone calls over dinner asking if you are in the process of selling</p>
          <p>or buying a home.  There are no hard sell tactics here.</p>
          <p>You are in the driver's seat.</p>
        </div>
    </div>
  </div>






    <div class="inforight">
       <h2>100% gimmick free.</h2>
       <p>no more giving out your information until you are ready to list your home.  no more phone calls over dinner asking if you are in the process of selling or buying a home.  there are no hard sell tactics here.  you are in the driver's seat.</p>
    </div>


    <div class="footer">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbBz8MmtgkZxT2hD_AMBKEIHr7MnPV1Ac&libraries=places&callback=initAutocomplete"
        async defer></script>
  </body>
</html>
