<!DOCTYPE html>

<!--
Based on
https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
-->
<html>
  <head>
    <title>Estimate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'homevalue/css/autoaddress.css' %}">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script src="{% static 'homevalue/js/autoaddress.js' %}"></script>
  </head>

  <body>
    <div class="bg">
        <div class="flex-row">
            <div class="center">
                <h2>Get Your Home Price.</h2>
                <h2>Right Here, Right Now.</h2>
            </div>
        </div>

        <div class="flex-row">
            <div class="frm">
                <form method="post">
                      {% csrf_token %}
                      {{ form }}
                      <button type="submit">
                           <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                      </button>
                </form>
            </div>
        </div>
    </div>
    <div>
        <div class="flex-row">
            <div class="center-text">
                <h2>Don't Jump Through Hoops.</h2>
                <p>Agents will....</p>
            </div>
       </div>
       <div class="flex-row">
           <button type="button" class="btn1">Sell With Revre</button>
           <button type="button" class="btn1">Talk to an Agent</button>
       </div>
    </div>



    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbBz8MmtgkZxT2hD_AMBKEIHr7MnPV1Ac&libraries=places&callback=initAutocomplete"
        async defer></script>
  </body>
</html>
