<!DOCTYPE html>

<!--
Based on
https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
-->
<html>
  <head>
    <title>Estimate</title>
    <link rel="icon" href="/static/homevalue/images/revre_logo_white.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'homevalue/css/autoaddress.css' %}">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="{% static 'homevalue/js/autoaddress.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>

    <!--Navigation-->
    <div class="navtop">
        <img class="logo" src="/static/homevalue/images/revre_logo_white.png" width="70" height="60">
    </div>
    <!--End Navigation-->

    <!-- Header Banner -->

    <div class="bg-image">
      <div class="bg-text">
        <div class="flex-column">
                <h1>Get Your Home Value.</h1>
                <h1>Instantly.</h1>
                <h2>Get Your Home Price.</h2>
                <h2>Right Here, Right Now.</h2>
        </div>
      </div>
      <div class="flex-row">
        <div class="frm">
          <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="search-btn">
                     <i class="fas fa-search"></i>
                </button>
          </form>
        </div>
      </div>
    </div>


    <!-- End Header Banner -->

    <!-- Introductory Section -->
    <div>
        <div class="flex-row">
            <div class="center-text">
              <div class="introtext">
                <h2>You're Unique. Your Real Estate Experience Should Be Too.</h2>
                <p>In an Industry of status quos, you deserve better. That means gone are the
              are the insane real estate agent commisions of yesterday.</p>
                <p>Simply enter an address in the search bar above, get an instantaneous quote, and decide on what services you need.  Simple, fast, easy.  Powered by data and technology.</p>
                <p>See how we're saving people thousands of dollars when they buy and sell a home in Edmonton</p>
              </div>
            </div>
       </div>
    <!-- End Into Section -->


    <!--Buttons-->
    <div class="center-text">
      <a class="btn btn-success btn-lg call-to-action" href="{% url "listWith" %}" role="button">List With Revre</a>

      <a class="btn btn-outline-success btn-lg call-to-action"  href="{% url "speakAgent" %}"  role="button">Speak to an Agent</a>
    </div>


    <!-- End Buttons  -->


    <!-- Informational Section -->

    <div class="flex-row">
      <div class="center-text">
            <h2>Revre is ReImagining Real Estate</h2>
            <p>You only pay for the services that you use. It's a no brainer.
            </p>
            <p>That Means that if you have sold 0 houses in your entire life, or have sold 50 in the last year, we have services to match you and your real estate experience.</p>

      </div>
    </div>

    <!-- End info section -->



    <!-- Picture Left Text Right-->
  <div class="infocontainer-flex">
    <div class="left-infocontainer">
      <div class="img-infocontainer">
          <img src="/static/homevalue/images/Revre-Technologies_2.png">
      </div>
    </div>
    <div class="right-infocontainer">
        <div class="text-infocontainer">
          <h2>100% Gimmick Free.</h2>
          <p>No more giving out your information until you are ready to list your home.
          No more phone calls over dinner asking if you are in the process of selling
          or buying a home.  There are no hard sell tactics here.
          You are in the driver's seat.</p>
        </div>
    </div>
  </div>

  <!-- Text Left Picture Right -->
  <div class="infocontainer-flex">
    <div class="left-infocontainer">
        <div class="text-infocontainer">
          <h2>Powered by Data</h2>
          <p>Revre uses the latest machine learning protocols and data sets from multiple sources to create an accurate, real time pricing model.  Ontop of this, the more that our apps are used, the smarter they get!</p>
        </div>
    </div>
    <div class="right-infocontainer">
      <div class="img-infocontainer">
          <img src="/static/homevalue/images/Revre-Technologies_2.png">
      </div>
    </div>
  </div>

  <!-- Picture Left Text Right-->
  <div class="infocontainer-flex">
    <div class="left-infocontainer">
      <div class="img-infocontainer">
          <img src="/static/homevalue/images/Revre-Technologies_2.png">
      </div>
    </div>
    <div class="right-infocontainer">
        <div class="text-infocontainer">
          <h2>Choose your Services</h2>
          <p>You are unlike everyone else, so why should you pay the same for your real estate experience? Revre creates products for people of all levels of know-how.  So, if you are a first time home seller, or a developer that has sold 1000 homes in your lifetime, we can serve your needs better than any other traditional model.  Guaranteed. </p>
        </div>
    </div>
  </div>

    <div class="footer">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJfGHULnjAjnf83Dz9bjT0Znn0o-MwDto&libraries=places&callback=initAutocomplete"
        async defer></script>
  </body>
</html>
