<!DOCTYPE html>

<html>
  <head>
  	<title>Real Estate Needs</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!--loading static here-->
	{% load static%}
	<link rel="stylesheet" href="{% static 'homepage/css/homeheader.css' %}">
  </head>

  <body>
	<div class ="div1 centxt flex-row p-r">
	   <div class="div3">	
		<h1>Real Estate Reimagined</h1>
		<p>will have a background photo</p>
		<button type="button" class="p-a btn1">Sign Up</button>
		<button type="button" class="p-a btn2">Log In</button>	
	   </div>
	</div>
	<!---->
	<div class="col-sm-3 c-green div4 centxt">
		<h1>Service</h1>
		<p>will display small discription and photo *colors based off of logo</p>
		<button type="button" class="btn3">Service 1</button>	   
	</div>
	<div class="col-sm-3 div4 c-blue centxt">
		<h1>Service</h1>
                <p>will display small discription and photo</p>
		<button type="button" class="btn3">Service 2</button>
        </div>
	<div class="col-sm-3 c-yellow div4 centxt">
           	<h1>Service</h1>
                <p>will display small discription and photo</p>
		<button type="button" class="btn3">Service 3</button>
        </div>
	<div class="col-sm-3 div4 c-pink centxt">
           	<h1>Service</h1>
                <p>will display small discription and photo</p>
		<button type="button" class="btn3">Service 4</button>
        </div>
	<!---->
  	<div class = "div2 col-sm-12 centxt">
		<h1>Recent Listings</h1>
	</div>
  </body>

</html>

